/Library-Management-System-in-Java-Swing/Application/.metadata
/Library-Management-System-in-Java-Swing/Application/library-management-system/target/classes/META-INF/maven/com.monsivais/library-management-system/pom.properties